* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;

  background: #6a655d;
}


/* VOLLEDIGE PAGINA */

.page {
  position: relative;

  width: 100vw;
  height: 100vh;

  margin: 0;

  overflow: hidden;
}


/* CANVA ONTWERP */

.page-image {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  object-position: center center;

  display: block;
}


/* ALLE KLIKBARE DELEN */

.page a {
  position: absolute;

  display: block;

  z-index: 20;
}


/* ABOUT RECHTSBOVEN */

.nav-about {
  left: 76.3%;
  top: 4.1%;

  width: 6%;
  height: 6%;
}


/* LIVE RECHTSBOVEN */

.nav-live {
  left: 82.8%;
  top: 4.1%;

  width: 5%;
  height: 6%;
}


/* CONTACT RECHTSBOVEN */

.nav-contact {
  left: 88%;
  top: 4.1%;

  width: 8.5%;
  height: 6%;
}


/* MORÈL LOGO LINKSONDER */

.home-logo {
  left: 2.8%;
  bottom: 4%;

  width: 9%;
  height: 10%;
}


/* CONTACT TEKST */

.contact-email {
  left: 17%;
  top: 45%;

  width: 12%;
  height: 8%;
}


/* MAILING LIST */

.mailing-list {
  left: 59%;
  top: 45%;

  width: 27%;
  height: 8%;
}


/* FACEBOOK */

.facebook {
  left: 22%;
  top: 63%;

  width: 7%;
  height: 12%;
}


/* INSTAGRAM */

.instagram {
  left: 28%;
  top: 67%;

  width: 7%;
  height: 12%;
}


/* TIKTOK */

.tiktok {
  left: 34.5%;
  top: 62%;

  width: 7%;
  height: 13%;
}


/* MOBIEL */

@media (max-width: 700px) {

  html,
  body {
    overflow: auto;
  }

  .page {
    width: 100vw;
    height: auto;

    aspect-ratio: 4 / 3;
  }

  .page-image {
    object-fit: contain;
  }

}
